.article {
    position: relative;
    overflow: hidden;
    top: 70px;
    width: 900px;
    /* height: 2000px; */
    background-color: #282828;
    margin: 15px auto 30px;
    border-radius: 15px;
    box-shadow: 0 0 12px #777;
}

.article .title-img {
    position: relative;
    height: 300px;
    background-color: skyblue;
    /* background: url(../images/turtle.jpg); */
    background-size: 100%;
}

.article .title-img h1 {
    position: absolute;
    left: 45px;
    bottom: 10px;
    font-size: 28px;
    color: white;
}

.article .content {
    position: relative;
    padding: 25px 45px 50px;
    color: white;
}

.article .content h2 {
    margin: 18px 0 10px;
    font-size: 25px;
}

.article .content h4 {
    margin: 18px 0 10px;
    font-size: 20px;
}

.article p {
    margin: 6px 0;
    font-size: 14px;
    line-height: 1.8;
}

.sketch-box {
    margin: 18px auto;
    text-align: center;
}

.article .content button {
    position: relative;
    left: 145px;
}

.rule {
    text-indent: 22px;
}
